.container, .blog-container{
  margin: auto;
  color: #2B2B2B;
  padding-top: 40px;
}
.container{
  max-width: 600px;
}
.blog-container{
  max-width: 800px;
  padding: 15px;
}
@media (max-width: 768px){
  .container{
    padding-top: 0px;
  }
}
li{
  list-style: none;
}
ul{
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
.nav, .bloglist{
  padding: 0px 20px;
}
.nav {
  display: table;
}
.logo{
  width: 70px;
  padding: 10px 10px 0px 10px;
  display: inline-block;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  text-align: right;
}
.nav-item{
  display: table-cell;
  padding: 0px 40px;
  color: inherit;
  vertical-align: middle;
}
.nav-item:hover, .nav-item:active, .bloglist li a:hover{
  background: #ECECEC;
}

.bloglist li a{
  padding: 20px;
  text-decoration: none;
  color: inherit;
  display: block;
  font-family: serif;
  font-size: 18px;
}
.blog-container p {
  text-align: left;
  padding-right: 30px;
}
.blog-container .takeaway{
  text-align: right;
  padding-left: 30px;
}
.takeaway em{
  display: block;
}
.about{
  padding: 50px;
}
